.footer{
    &_1{
        margin-top: 115px;
        margin-bottom: 80px;
        .email{
            @include font(16px, #ff5b46, 300, "Circe", 1.7);
            border: 1px solid #ff5b46!important;
        }
        .btn{
            @include font(16px, #ffffff, 600, "Circe", 2);
            background: #ff5b46;
            border: 1px solid #ff5b46!important;
            padding-left: 105px;
            padding-right: 115px;
        }
        h5{
            @include font(48px, #535e64, 800, "Circe", 1.2);
        }
        .p-1{
            @include font(16px, #9a9a9a, 200, "Circe", 1.2);
            margin: 0 auto;
        }
        .p-2{
            @include font(14px, #abacae, 200, "Circe", 1.2);
            margin: 0 auto;
            opacity: 0.5;
        }
        .form{
            &-control {
                width: 50%;
            }

        }
    }
    &_2{
        background: #f9f9f9;
        a{
            text-decoration: none;
            @include font(16px, #535e64, 500, "Conqueror Sans", 1.2);
            opacity: 0.5;
        }
    }
}

@media only screen and (max-width: 576px) {
    .footer{
        &_1{
            margin-top: 80px;
            margin-bottom: 50px;
            h5{
                @include font(38px, #535e64, 800, "Circe", 1.2);
            }
            .p-1{
            margin-top: 35px;
            }
        }
        &_2{
            background: #f9f9f9;
            a{
                text-decoration: none;
                @include font(16px, #535e64, 500, "Conqueror Sans", 1.2);
                opacity: 0.5;
            }
        }
    }
}
@media only screen and (max-width: 315px) {
    .footer{
        &_1{
            .btn{
                padding-left: 80px;
                padding-right: 80px;
            }
        }
    }
}

