*,body, html {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
.container {
  max-width: 870px;
  margin: 0 auto;
}
.section-title {
  font-family: "Circe"
  font-size: 40px;
  font-weight: 600;
  color: #666666;
  font-weight: bolder;
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 500px;
  text-align: center;
}

.section-descr {
  font-family: "Conqueror Sans";
  max-width: 727px;
  text-align: center;
  font-size: 16px;
  color: #666666;
  font-weight: 300;
  line-height: 20px;
  margin: 0 auto;
  margin-top: 30px;
}


  .work-card {
    padding: 83px 49px;
    margin: 0 auto;
    text-align: center;
    .work-title {
      margin-top: 42px;
      text-transform: uppercase;
      color: #333366;
      font-family: "Conqueror Sans";
      font-weight: bolder;
      font-size: 20px;
    }
  
  .card-text {
    font-family: "Conqueror Sans";
    max-width: 727px;
    text-align: center;
    font-size: 16px;
    color: #666666;
    font-weight: 300;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 24px;
  }
  }

.bg-card-1 {
  background-image: url('../img/short text/background-1.png');
}
.bg-card-2 {
  background-image: url('../img/short text/background-2.png');
}

.work-bg {
  position: relative;
}
.work-info {
position: absolute;
z-index: 1;
top: 100px;
text-align: center;
}