*, body, html {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/fontsCirce-Bold.eot");
  src: url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype"), url("../fonts/Circe-Bold.svg#Circe-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraBold.eot");
  src: url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype"), url("../fonts/Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Conqueror Sans";
  src: url("../fonts/ConquerorSans.eot");
  src: url("../fonts/ConquerorSans.eot?#iefix") format("embedded-opentype"), url("../fonts/ConquerorSans.woff2") format("woff2"), url("../fonts/ConquerorSans.woff") format("woff"), url("../fonts/ConquerorSans.ttf") format("truetype"), url("../fonts/ConquerorSans.svg#ConquerorSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Conqueror Sans";
  src: url("../fonts/ConquerorSansLight.eot");
  src: url("../fonts/ConquerorSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/ConquerorSansLight.woff2") format("woff2"), url("../fonts/ConquerorSansLight.woff") format("woff"), url("../fonts/ConquerorSansLight.ttf") format("truetype"), url("../fonts/ConquerorSansLight.svg#ConquerorSansLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.footer_1 {
  margin-top: 115px;
  margin-bottom: 80px;
}
.footer_1 .email {
  font-size: 16px;
  color: #ff5b46;
  font-weight: 300;
  font-family: "Circe";
  line-height: 1.7;
  border: 1px solid #ff5b46 !important;
}
.footer_1 .btn {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Circe";
  line-height: 2;
  background: #ff5b46;
  border: 1px solid #ff5b46 !important;
  padding-left: 105px;
  padding-right: 115px;
}
.footer_1 h5 {
  font-size: 48px;
  color: #535e64;
  font-weight: 800;
  font-family: "Circe";
  line-height: 1.2;
}
.footer_1 .p-1 {
  font-size: 16px;
  color: #9a9a9a;
  font-weight: 200;
  font-family: "Circe";
  line-height: 1.2;
  margin: 0 auto;
}
.footer_1 .p-2 {
  font-size: 14px;
  color: #abacae;
  font-weight: 200;
  font-family: "Circe";
  line-height: 1.2;
  margin: 0 auto;
  opacity: 0.5;
}
.footer_1 .form-control {
  width: 50%;
}
.footer_2 {
  background: #f9f9f9;
}
.footer_2 a {
  text-decoration: none;
  font-size: 16px;
  color: #535e64;
  font-weight: 500;
  font-family: "Conqueror Sans";
  line-height: 1.2;
  opacity: 0.5;
}

@media only screen and (max-width: 576px) {
  .footer_1 {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .footer_1 h5 {
    font-size: 38px;
    color: #535e64;
    font-weight: 800;
    font-family: "Circe";
    line-height: 1.2;
  }
  .footer_1 .p-1 {
    margin-top: 35px;
  }
  .footer_2 {
    background: #f9f9f9;
  }
  .footer_2 a {
    text-decoration: none;
    font-size: 16px;
    color: #535e64;
    font-weight: 500;
    font-family: "Conqueror Sans";
    line-height: 1.2;
    opacity: 0.5;
  }
}
@media only screen and (max-width: 315px) {
  .footer_1 .btn {
    padding-left: 80px;
    padding-right: 80px;
  }
}/*# sourceMappingURL=index.css.map */